body{
background-color:black;
}
title{
  color:white;
  font-size: 80px;
  font-family: Impact;
}
h2{
  color:gray;
  font-size: 25px;
  text-align: center;
}
h1{
  color: white;
  font-size: 40px;
  text-align: center;
}
/*ho creato per piu' tardi questo documento*/
/*non serve mettere il collegamento href anche qua, basta solo inserirlo sull'html*/
